<main id="custom-form" class="container w-100 w-md-75">
    <h1 class="p-3"><span class="span-bg text-white">
            {{#if edit}}Edit</span>{{else}} Add</span>{{/if}} cloth
    </h1>

    <form class="px-3" enctype="multipart/form-data">
        <div class="row justify-content-between">
            <div class="form-group-custom border border-secondary border-opacity-25 my-5">
                <div class="form-group-header">
                    <h4>Basic info</h4>
                </div>
                <div class="row p-5 align-items-end">
                    <div class="col-12 col-md-8">
                        <label for="name" class="form-label ">Your cloth name</label>
                        <input type="text" class="form-control" id="name" 
                            value={{#if edit}}"{{name}}"{{else}}""{{/if}} />
                    </div>
                    <div class="col-12 col-md-4 mt-3 p-0 text-start">
                        <div class="form-check form-custom-switch">
                            <label class="form-check-label pt-2" for="availabilityCheck">Availability</label>
                            <input class="form-check-input" type="checkbox" role="switch" id="availabilityCheck"
                                {{#if edit}}checked="{{availability}}"{{else}}{{/if}} />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            <div id="seasons" class="col-12 col-md-5 form-group-custom border border-secondary border-opacity-25 my-5">
                <div class="form-group-header">
                    <h4>Season</h4>
                </div>
                <div class="row row-cols-4 pt-5">
                    {{#if edit}}
                        <div class="form-custom-check col pb-3">
                            <input type="checkbox" class="form-check-input checkbox-xl" id="seasonSpring" 
                            {{#contains @root.seasons "spring" "checked"}} {{/contains}} value="spring">
                            <label class="form-check-label d-block" for="season-spring">Spring</label>
                        </div>
                        <div class="form-custom-check col">
                            <input type="checkbox" class="form-check-input checkbox-xl" id="seasonSummer"
                            {{#contains @root.seasons "summer" "checked"}} {{/contains}} value="summer">
                            <label class="form-check-label d-block" for="season-summer">Summer</label>
                        </div>
                        <div class="form-custom-check col">
                            <input type="checkbox" class="form-check-input checkbox-xl" id="season-fall"
                            {{#contains @root.seasons "fall" "checked"}}{{/contains}} value="fall">
                            <label class="form-check-label d-block" for="season-fall">Fall</label>
                        </div>
                        <div class="form-custom-check col">
                            <input type="checkbox" class="form-check-input checkbox-xl" id="season-winter"
                            {{#contains @root.seasons "winter" "checked"}}{{/contains}} value="winter">
                            <label class="form-check-label d-block" for="season-winter">Winter</label>
                        </div>

                    {{else}}

                    <div class="form-custom-check col pb-3">
                        <input type="checkbox" class="form-check-input checkbox-xl" id="seasonSpring" value="spring">
                        <label class="form-check-label d-block" for="season-spring">Spring</label>
                    </div>
                    <div class="form-custom-check col">
                        <input type="checkbox" class="form-check-input checkbox-xl" id="seasonSummer" value="summer">
                        <label class="form-check-label d-block" for="season-summer">Summer</label>
                    </div>
                    <div class="form-custom-check col">
                        <input type="checkbox" class="form-check-input checkbox-xl" id="season-fall" value="fall">
                        <label class="form-check-label d-block" for="season-fall">Fall</label>
                    </div>
                    <div class="form-custom-check col">
                        <input type="checkbox" class="form-check-input checkbox-xl" id="season-winter" value="winter">
                        <label class="form-check-label d-block" for="season-winter">Winter</label>
                    </div>
                    {{/if}}
                </div>
            </div>

            <div class="col-12 col-md-6 form-group-custom border border-secondary border-opacity-25 my-5">

                <div class="form-group-header">
                    <h4>Your cloth style</h4>
                </div>
                <div class="row pt-5 justify-content-around">
                    <div class="col-10 p-0 px-3">
                        <select id="styleOpt" class="form-select" aria-label="select cloth style">
                            <option value="">-- Choose an style --</option>
                            <option value="casual">Casual</option>
                            <option value="elegant">Elegant</option>
                            <option value="sport">Sport</option>
                            <option value="outdoor">Outdoor</option>
                            <option value="vintage">Vintage</option>
                            <option value="rock">Rock</option>
                        </select>
                    </div>
                    <div class="col-2 p-0">
                        <button id="addStyleBtn" type="button" class="btn btn-primary">
                            <i class="fa fa-plus fa-lg text-white" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div id="styles" class="row p-5">
                {{#if edit}}
                    {{#each styles}}
                    <ul class="list-group-custom col p-0 justify-content-center">
                        <li class="list-group-item" value={{this}}>{{this}}</li>
                        <button id="delete-{{this}}" type="button" class="btn btn-delete btn-primary">
                            <i class="fa fa-minus fa-lg text-white" aria-hidden="true"></i>
                        </button>
                    </ul>
                    {{/each}}
                {{/if}}
                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-12 col-md-6 form-group-custom border border-secondary border-opacity-25 my-5">
                <div class="form-group-header">
                    <h4>Your cloth photos</h4>
                </div>
                <div class="row row-cols-2 py-5 align-items-end">
                    <div class="col-12">
                        <input class="form-control" type="file" name="image" id="imgFile" accept="image/*">
                        {{#if edit}}
                        <div id="photo" class="row pt-2 pb-5 align-items-center">
                            <div class="col-4">
                                <img id="photo_{{id}}" class="w-100 bg-light" src="{{photo}}" alt="...">
                            </div>
                            <div class="col-2 p-0">
                                <button id="deleteImage-{{id}}" type="button" class="btn btn-delete btn-primary">
                                    <i class="fa fa-minus fa-lg text-white" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        {{/if}}

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-5 form-group-custom border border-secondary border-opacity-25 my-5">
                <div class="form-group-header">
                    <h4>Your cloth color</h4>
                </div>
                <div class="row py-5 justify-content-between">
                    <div class="col-6">
                        <label for="colorInput" class="form-label pt-2">Pick a color</label>
                    </div>
                    <div class="col-2">
                        <input type="color" class="form-control form-control-color" id="colorInput" value="#000000"
                            title="Choose your color">
                    </div>
                    <div class="col-2 p-0">
                        <button id="addColorBtn" type="button" class="btn btn-primary">
                            <i class="fa fa-plus fa-lg text-white" aria-hidden="true"></i>
                        </button>
                    </div>

                </div>
                <div id="colors" class="row">
                        {{#if edit}}
                            {{#each colors}}
                                <ul class="col ul-colors-swatch">
                                    <li id="{{this}}" style="background-color: #{{this}}"></li>
                                    <button id="delete-{{this}}" type="button" class="btn btn-delete btn-primary">
                                        <i class="fa fa-minus fa-lg text-white" aria-hidden="true"></i>
                                    </button>
                                </ul>
                            {{/each}}
                        {{/if}}
                </div>
            </div>
        </div>

        <div class="form-group-custom border border-secondary border-opacity-25 my-5">
            <div class="form-group-header">
                <h4>Your cloth fabrics</h4>
            </div>
            <div class="row row-cols-3 p-5">
                <div class="col-10 col-md-5 pb-3">
                    <select class="form-select" id="part">
                        <option value="shell">Shell</option>
                        <option value="lining">Lining</option>
                        <option value="padding">Padding</option>
                    </select>
                </div>
                <div class="col-10 col-md-5">
                    <select class="form-select" id="fabric">
                        <option value="polyester">Polyester</option>
                        <option value="cotton">Cotton</option>
                        <option value="wool">Wool</option>
                    </select>
                </div>
                <div class="col-2 col-md-2">
                    <button id="addFabricBtn" type="button" class="btn btn-primary">
                        <i class="fa fa-plus fa-lg text-white" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div id="fabrics" class="row p-5 pt-3">
                {{#if edit}}
                    {{#each fabrics as |fabric|}}
                        {{#each fabric}}
                        <ul class="list-group-half col">
                            <li id="{{@key}}" class="list-group-item">{{@key}}</li>
                            <li id="{{this}}" class="list-group-item">{{this}}</li>
                            <button id="delete-{{@key}}" type="button" class="btn btn-delete btn-primary">
                                <i class="fa fa-minus fa-lg text-white" aria-hidden="true"></i>
                            </button>
                        </ul>
                        {{/each}}
                    {{/each}}
                {{/if}}
            </div>
        </div>

        <div class="container col-md-6 col-lg-4 justify-content-center pb-5">
            <button id="submit" {{#if edit}}data-id="{{id}}"{{/if}} type="button" class="btn btn-primary btn-lg w-100">
                {{#if edit}}Save changes{{else}}Add cloth{{/if}}</button>
        </div>
    </form>
    <hr />
</main>