<main>
    <div class="container-fluid date row justify-content-center">
        <div class="col-10 col-md-4 pt-2 bg-white bg-opacity-75">
            {{{ currentDate }}}
        </div>
    </div>

    <div class="row pt-3 justify-content-center align-items-center">
        <div class="col-12 col-lg-6">
            {{> carousel home="true" title="Try this today"}}
        </div>
    </div>
    
    <form id="searchSection" action="/home#search" method="GET" class="d-flex w-75 m-auto" role="search">
        <input class="form-control me-2" id="search" name="search" type="search" placeholder="Search" aria-label="Search" />
        <button id="submitSearchText" class="btn btn-lg btn-primary" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </form>

    <div class="container items">
            {{#unless clothes}}
                <div class="pt-5">
                    <h4>You have not yet any saved clothes!</h4>
                    <h5>Go to <a href="/cloth-form" class="pink-serif-link"><span class="span-bg">adding cloth form</span></a></h5>            
                </div>
            {{/unless}}

        <!-- Three columns of photos below the carousel -->
        <div class="row row-cols-3 row-cols-md-4 align-items-center g-3 my-3">

            {{#each clothes}}
            <div class="col">
                <a href="/cloth-details/{{_id}}">
                    <img id="{{_id}}" class="w-100" src="{{photo}}" alt="{{ item.name }}">
                </a>
            </div>
            {{/each}}
        </div>
    </div>

    {{> other-outfits outfits=otherOutfits}}

    {{> sticky-menu}}

    <!-- Modal -->
        <div class="modal fade" id="ratingModal" tabindex="-1" aria-labelledby="ratingModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content text-center">
                    <div class="modal-header bg-light">
                        <h4 class="modal-title text-center" id="ratingModalLabel">Rate outfit</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <h1 class="fs-5">Leave your rating for <b>{{title}}</b> of <span
                                    class="span-bg">User</span></h1>
                            <p>Select and click the stars</p>
                            <div class="accent">
                                <i class="rating fa fa-star-o fa-lg" aria-hidden="true"></i>
                                <i class="rating fa fa-star-o fa-lg" aria-hidden="true"></i>
                                <i class="rating fa fa-star-o fa-lg" aria-hidden="true"></i>
                                <i class="rating fa fa-star-o fa-lg" aria-hidden="true"></i>
                                <i class="rating fa fa-star-o fa-lg" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="rateModalBtn" type="button" class="btn btn-primary">Rate</button>
                    </div>
                </div>
            </div>
        </div>

</main>